body {
    background-color: yellow;
}
.titulo {
    color: blue;
}
.paragrafo {
    color: red;
}
#subtitulo {
    font-family: Arial, Helvetica, sans-serif;
}
#paragrafo {
    background-color: green;
}
form {
    background-color: aqua;
}
